::-webkit-scrollbar {
  display: none;
}
* {
    scrollbar-width: none;
}
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--light-text);
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
html {
    width: 100vw;
}
input {
    background-color: transparent;
    border: 2px solid #41B883;
    border-radius: 5px;
}
.dark-mode input:focus {
    border-color: aqua;
}
.dark-mode input:active {
    border-color: aqua;
}
.dark-mode input:focus-visible {
    border-color: aqua;
    outline: none;
}
.light-mode input:focus {
    border-color: blue;
}
.light-mode input:active {
    border-color: blue;
}
.light-mode input:focus-visible {
    border-color: blue;
    outline: none;
}
.dark-mode-auth input:focus {
    border-color: aqua;
}
.dark-mode-auth input:active {
    border-color: aqua;
}
.dark-mode-auth input:focus-visible {
    border-color: aqua;
    outline: none;
}
.light-mode-auth input:focus {
    border-color: blue;
}
.light-mode-auth input:active {
    border-color: blue;
}
.light-mode-auth input:focus-visible {
    border-color: blue;
    outline: none;
}
.pi-heart, .pi-heart-fill {
    color: #41B883;
}
.pi-comment, .pi-comment-fill {
    color: #41B883;
}
.p-fieldset-legend {
    border-radius: 5px;
}
svg.p-icon {
    top: 10px;
    right: -22px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
:root {
    --dark-bg: rgb(5, 5, 33);
    --light-bg: beige;
    --dark-text: azure;
    --light-text: rgb(65, 185, 131);
    --dark-bg-darkblue: rgb(6, 6, 41);
    --dark-green: #05905d;
}
.avatar-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.avatar-container-xl {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-container-md {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-container-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
@media (max-width: 767px) {
    .avatar-container-xl {
        width: 60px;
        height: 60px;
    }
    .avatar-container-md {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .avatar-container-sm {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }
}


.dark-mode {
    background-color: var(--dark-bg-darkblue);
    color: var(--dark-text);
    border-color: var(--light-text) !important;
}
/* .light-mode{
    background-color: beige ;
    color: #41B883;
} */
